body {
  background:#FFF;
  font-size: 12px;
  color: black;
}

body .container.body .right_col {
  background:#FFF;
}

.menu_section h3{
  text-shadow: none;
}

.nav_title{
  background:transparent;
}

.menu_col {
  background: #6080BB;
}

.nav.side-menu > li.active > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: #6787bf;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; */
}

.nav-sm ul.nav.child_menu{
  background: #6787bf;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
  border-right: 5px solid #6787bf;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm{
  border-right: 5px solid #6787bf;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
   background: transparent;
}

.nav-md ul.nav.child_menu li:before, .nav-sm ul.nav.child_menu li:before{
  background:rgba(255, 255, 255, 0.75);
}

.nav-md ul.nav.child_menu li:after,.nav-sm ul.nav.child_menu li:after{
      border-left: rgba(255, 255, 255, 0.75);
}



label {
  font-size: 12px;
}

.nav_menu {
  float: left;
  background: #6080BB;
  border-bottom: 1px solid #6080BB;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

a:hover, a:focus {
  color: #F2F5F7;
  text-decoration: underline;
}

.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
  background: #6080BB;
}

a {
  color: #34495e;
  text-decoration: none;
}

.field-validation-error {
  color: Red;
  font-style: italic;
  font-weight: bold;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #6080BB;
  border-color: #6080BB;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #6080BB;
  border-color: #6080BB;
}

.btn-primary {
  color: #fff;
  background-color: #6080BB;
  border-color: #6080BB;
}

.nav.navbar-nav > li > a {
  color: #ECF0F1 !important;
}

.main_container,left_col menu_col scroll-view {
  background-color:#6080BB;
}

.navbar nav_title{
  border: 0; 
  text-align:center;
}


