<div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-12 col-md-8 ">
                <div class="login-page">
                    <div class="form">
                        <div style="padding-bottom:10px">
                            <img src="~/Content2/Images/logo.png" alt="Logo" class="img-rounded img-responsive" />
                            <h4>Maestro de Recintos</h4><br />
                        </div>
                            <fieldset>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="height:1px;"></i></span>
                                    <input class='input-group-addon rut' maxlength="10" type="text" placeholder="RUT" name="rut" id="rut" onkeypress="return validar3(event)" style="margin:0px;" required />
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="height:1px;"></i></span>
                                    <input class='input-group-addon' type="password" placeholder="Contraseña" maxlength="15" name="pass" id="password" style="margin:0px;" required />
                                </div>
                                <button id="IngresarButton" type="submit">Ingresar</button>
                            </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>




